<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Welcom to 99Cats!</h1>
    <p>You have successfully signed up and are ready to rent some cats. Your username is <%=@user.username %>.</p>
    <p>To login to the site, just click here: <%= @url %>.</p>
  </body>
</html>
